/* *
*  css general del chat
*/

#chatBox .card-header {
    position: sticky;
    top: 0;
    z-index: 20;
}


.chat-send-btn:hover {
    background-color: #0d6efd !important;
    color: #fff !important;
    transition: background-color .3s ease;
}

.icon-btn:hover i {
    transform: scale(1.1);
}

.icon-btn:focus {
    box-shadow: none !important;
}

.chat-message {
    animation: fadeInUp .25s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-pulso:hover {
    color: #fc2929 !important;
    transform: scale(1.25);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }

    50% {
        transform: scale(1.18);
        filter: brightness(1.25);
    }

    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}


/* *
*  para Tablets
*/
@media (max-width: 992px) {
    #chatBox {
        width: 90vw !important;
        height: 90vh !important;
    }
}


/* *
*  para celulares (ESTILO WHATSAPP)
*/
@media (max-width: 768px) {

    #chatBox {
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0 !important;
    }

    #contentChatMessages {
        height: 70vh !important;
        scroll-behavior: smooth;
        padding-bottom: 80px;
    }

    /* Input estilo WhatsApp */
    .input-group {
        width: 100% !important;
        max-width: 100% !important;
    }

    #chatInput {
        font-size: 1rem !important;
        padding: 12px !important;
    }

    #btnEnviar {
        padding: 14px !important;
    }

    .btn-pulso {
        position: fixed !important;
        right: 2% !important;
        top: 10% !important;
    }
}


/* *
* para celulares pequeños
*/
@media (max-width: 480px) {
    .d-flex.gap-3 {
        gap: 8px !important;
    }

    .input-group input {
        font-size: .85rem !important;
    }

    #btnFlotante {
        width: 50px !important;
        height: 50px !important;
        padding: 0 !important;
    }
}