/* *
* Chat flotante base
*/
#chatBox {
    width: 80vw;
    height: 90vh;
    border-radius: 1rem;
}

/** 
* Container general 
*/
#contentChat {
    inset: 0;
}

/**
* mensajes general 
*/
#contentChatMessages {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px - 90px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 15px;
}

#chatInputBar {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    background: #111;
    padding: 12px;
    z-index: 3000;
    height: 90px;
}

/**
* diseño original 
*/
@media (min-width: 769px) {
    #chatBox {
        width: 80vw;
        height: 90vh;
        border-radius: 1rem;
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #chatInputBar {
        position: absolute !important;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
    }

    #contentChatMessages {
        height: calc(90vh - 70px - 90px);
    }
}

/* *
* para moviles
*/
@media (max-width: 768px) {
    #chatBox {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0 !important;
        transform: none !important;
    }

    #chatInputBar {
        height: 90px !important;
    }

    #contentChatMessages {
        height: calc(100vh - 70px - 90px) !important;
    }
}

/* *
* adatado pora IOS
 */
#mostrarEscribiendo {
    position: fixed;
    bottom: calc(90px + env(safe-area-inset-bottom));
    right: 10px;
    z-index: 2000;
    color: white;
    font-size: 0.85rem;
}

#contentChatMessages {
    overflow-y: auto;
    height: calc(100vh - 70px - 90px);
    padding-bottom: 120px;
}