    /**
    * styles generales del chat
    */
    .chat-send-btn:hover {
        background-color: #0d6efd !important;
        color: white !important;
        transition: background-color 0.3s ease;
    }

    .icon-btn:hover i {
        transform: scale(1.1);
    }

    .icon-btn:focus {
        box-shadow: none !important;
    }

    /**
    * animacion chat
    */
    .chat-message {
        animation: fadeInUp 0.25s ease;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* *
    * animation de btn limpiar
     */
    .btn-pulso:hover {
        color: #fc2929 !important;
        transform: scale(1.25);
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            filter: brightness(1);
        }

        50% {
            transform: scale(1.18);
            filter: brightness(1.25);
        }

        100% {
            transform: scale(1);
            filter: brightness(1);
        }
    }


    /* Botón flotante */
    #btnFlotante {
        width: 60px;
        height: 60px;
    }

    @media (max-width: 480px) {
        #btnFlotante {
            width: 50px;
            height: 50px;
            padding: 0.8rem;
        }
    }

    /* Caja principal del chat */
    #chatBox {
        width: 80vw;
        height: 90vh;
    }

    @media (max-width: 768px) {
        #chatBox {
            width: 95vw !important;
            height: 95vh !important;
            border-radius: 0.7rem !important;
        }
    }

    /* Header: avatar + texto */
    @media (max-width: 480px) {
        #chatBox .card-header img {
            width: 32px !important;
            height: 32px !important;
        }

        #chatBox .card-header strong {
            font-size: 0.95rem !important;
        }

        #chatBox .card-header span {
            font-size: 0.7rem !important;
        }

        #cerrarChat {
            padding: 3px 6px !important;
            font-size: 0.75rem !important;
        }
    }

    /* Contenedor de mensajes */
    #contentChatMessages {
        height: 70vh;
    }

    @media (max-width: 768px) {
        #contentChatMessages {
            height: calc(100vh - 150px) !important;
        }
    }

    /* Input del mensaje */
    .input-group {
        width: 600px;
        max-width: 90%;
    }

    @media (max-width: 480px) {
        #chatInput {
            font-size: 0.9rem !important;
            padding-left: 1rem !important;
        }

        .chat-send-btn {
            padding: 0.7rem 1rem !important;
        }
    }

    /* Botón limpiar */
    @media (max-width: 480px) {
        #btnLimpiarChat {
            top: 16% !important;
            right: 4% !important;
        }
    }