       @keyframes paco-IA-logo-pulso {
            0% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(100, 70, 255, 0.4);
            }

            70% {
                transform: scale(1.05);
                box-shadow: 0 0 0 20px rgba(100, 70, 255, 0);
            }

            100% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(100, 70, 255, 0);
            }
        }

        .btn-gradient:hover {
            background: linear-gradient(145deg, #0044ff, #33ccff);
            color: white;
            border: none;
            box-shadow: 0 8px 20px rgba(0, 100, 255, 0.3);
            transform: translateY(-4px);
        }

        .cart-gradient:hover {
            border: none;
            box-shadow: 0 8px 20px rgba(51, 57, 66, 0.2);
            transform: translateY(-4px);
        }

        #btnChatEnviar:hover i {
            color: white !important;
        }

        #btnChatEnviar:hover {
            background: linear-gradient(145deg, #0044ff, #33ccff) !important;
            color: white !important;
        }

        .prueba-css {
            background: radial-gradient(circle at center, rgba(255, 255, 255, 0.9) 0%, transparent 70%), linear-gradient(145deg, #1810ff, #b7ccd7, #f0bb40);
            width: 20%
        }
